@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

 

/* .main {
    background-color: rgb(7, 163, 163);

} */
.mainbg {
    background-image: url("../images/blackmarble.jpg");
    max-width: 100%;
}

.myQuotes {
    max-width: 100%;
    margin-left: 20px;
    /* font-family: 'Courgette', cursive; */
    background: rgb(70,43,1);
    background: linear-gradient(156deg, rgba(70,43,1,1) 3%, rgba(237,127,0,0.9948354341736695) 49%, rgba(0,0,0,1) 100%);
    font-weight: bold;
    font-size: 30px;
    border-radius: 60px;
    border-color: black;
    border-width: 3px;
    filter: drop-shadow(0px 0px 7px rgb(83, 81, 80));

}

h3 {
border-bottom: 10px;
border-color: black;
font-family: 'Courgette', cursive;
font-size: 65px;
text-shadow: 0 10.36px 9.896px #aca7a783, 0 -2px 1px #ffffff4a;
text-decoration: underline;
text-underline-position: under;
text-decoration-color: rgb(241, 240, 240);
margin-bottom: 5px;

}


p {
 font-size: 35px;

}

.blockquote-footer {
    color:rgb(11, 11, 11)
}
.editBtn
 {
    font-weight: bold;
    background-color: rgb(103, 103, 102);
    color:black;
    border-radius: 10px;
    border-width: 3px;
    border-color: black;
    filter: drop-shadow(-3px 5px 7px rgba(8, 8, 8, 0.719));
    margin-right:5px;
}
.editBtn :hover {
    filter: drop-shadow(-3px 5px 7px rgba(246, 245, 244, 0.719));
    font-weight: bold;
}

.space {
    border-bottom: 5px;
    border-color: black;
    /* padding-top: 30%; */
}

.createQuote
 {
    font-weight: bold;
    background-color: rgb(103, 103, 102);
    color:black;
    border-radius: 10px;
    border-width: 3px;
    border-color: black;
    filter: drop-shadow(-3px 5px 7px rgba(8, 8, 8, 0.719));
    margin-right:5px;
}
.createQuote :hover {
    filter: drop-shadow(-3px 5px 7px rgba(246, 245, 244, 0.719));
    font-weight: bold;
}

.allQuotes

{
    padding-top:155px;
}

.homePage{
    padding-top:135px;
}

.userQuotes
{
    padding-top:155px;
}

.carousel{
    padding-bottom:-25px;

}